/* Meeting 01 Start */
h1{
   color: whitesmoke;
   background-color:lightcoral ;
   text-align: center;
}

h1,h2,h3,h4,p{
   text-align: center;
}

p{
   font-style: italic;
}

img {
 aspect-ratio: 16/9;
 width: 100%;
}
/* Meeting 01 End */


/* Meeting 02 Start */

/* membuat navbar vertical */
/* nav {
  width: 200px;
  margin: 0;
  padding: 0;
}
a {
  display: block;
  background-color:rgb(151, 153, 153);
  text-decoration: none;
  color: whitesmoke;
  padding: 4px;
}
a:hover {
  background-color: burlywood;
} */


/* membuat navbar horizontal */

/* body {
  margin-top: 10%;
} */

nav {
  position: absolute;
  right: 0;
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(219, 84, 75);
  padding: 15px;
  float: left;
}
a:hover {
  background-color: burlywood;
}

.main-header {
    background-color: rgb(245, 235, 220);
    padding-left: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;   
}
.header-info {
    text-align: left;
    color: rgb(219, 84, 75);
    padding: 0px;
    margin: 14px;
    position: absolute;
    left: 0px;
}


/* Meeting 02 End */

/* Meeting 03 Start */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.dropdown {
    display: flex;
    flex-direction: column;
}
.dropdown-content {
    display: none;
}
.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 100%;
    background-color: antiquewhite;
}
.dropdown-item:hover {
    background-color:whitesmoke ;
    cursor: pointer;
}
a.dropdown-item {
    min-width: 160px;
    text-align: left;
}

li.dropdown-item:hover a.dropdown-item {
    text-align: left;
    color: gainsboro;
}
/* Meeting 03 End */
